@media screen and (max-width: 3000px) {
    


* {
    padding: 0;
    margin: 0; 
}

body {
    background-color: lightcyan;
    overflow-x: hidden;
}
.title {
    position: relative;
    top: 1em;
    font-size: 3rem;
    text-align: center;
}



.logo {
    position: relative;
    right: 53%;
    height: 450px;
    width: 450px;
}

.About {
    position: relative;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    top: 10em;
    display: flex;
    align-items: center;
    height: 500px;
    width: 1000px;
    justify-content: center;
}

.paraAbt {
    position: relative;
    left: 48%;
    font-size: 2rem;
    padding: 20px;
}

.card {
    position: relative;
    top: 30em;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}





.signh1 {
    position: relative;
    top: .5em;
    font-size: 2rem;
    text-align: center;
}

.learnhr {
    border-color: black;
}

.lrp {
    position: relative;
    font-size: 1.5em;
    text-align: center;
}

.learnNowbtn {
    position: relative;
    top: 1em;
    width: 90px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    
}


.card_friends {
    position: relative;
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cent{
    position: relative;
    bottom: 21.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpf {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}

.learnNowbtnfr {
    position: relative;
    top: 1.5em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    
}
.cent2{
    position: relative;
    bottom: 21.9em;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpfa {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}


.learnNowbtnart {
    position: relative;
    top: .4em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
}

.beglearn25 {
    margin-bottom: 40em;
    font-size: 2rem;
    /* margin-left: 1.5em; */
    text-align: center;
}

.learning-div {
    position: relative;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    top: 10em;
    height: 2000px;
    width: 1000px;
}

.hello-learn {
    position: relative;
    height: 300px;
    width: 500px;
    bottom: 4em;
    left: 14em;
}

.hello-p {
    position: relative;
    top: 10em;
    text-align: center;
    right:15em;
}

.hellobtn {
    position: relative;
    top: 13em;
    right: 30em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
}

.homelink {
    color: black;
}

.homelink:hover {
    color: black;
}


.helloimg {
    
    height: 200px;
    width: 200px;
    
    /* right: 40em; */
}

.helloH3 {
    position: relative;
    text-align: center;
}

.explanation-item {
    position: relative;
    bottom: 75em;
    margin-left: 5em;
    height: 250px;
    width: 200px;
}

.video_screen {
    position:fixed; 
    height: 300px;
    width: 300px;
    top: 10em;
    margin-left: 40%;
    z-index: 1000;
    
}

.videodiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.turnon {
    position: relative;
    
    padding: 5px;
    border-radius: 10px;
    margin-left: 30em;
}

.howareyou-item {
    bottom: 90.5em;
    margin-left: 40em;
}

.nameimg {
    height: 300px;
    width: 350px;
}

.nameis-item {
    position: relative;
    bottom: 85em;
    margin-left: 1em;
    height: 350px;
    width: 400px;
}
.nameH3 {
    text-align: center;
}

.boyimg {
    height: 200px;
    width: 200px;
}

.boyH3 {
    text-align: center;
}

.boy-item {
    position: relative;
    bottom: 100.5em;
    margin-left: 40em;
    height: 250px;
    width: 200px;
}

.girl-item {
    position: relative;
    bottom: 91.5em;
    margin-left: 40em;
    height: 250px;
    width: 200px;
}

.girlimg {
    height: 200px;
    width: 200px;
}

.girlH3 {
    text-align: center;
}

.homeimg {
    height: 200px;
    width: 200px;
}

.home-item {
    position: relative;
    bottom: 107.5em;
    margin-left: 1em;
    height: 350px;
    width: 400px;
}

.homeH3 {
    text-align: center;
}

.eatimg {
    height: 200px;
    width: 200px;
}

.eat-item {
    position: relative;
    bottom: 105em;
    margin-left: 1em;
    height: 350px;
    width: 400px;
}

.eatH3 {
    text-align: center;
}

.dadimg {
    height: 200px;
    width: 200px;
}

.dad-item {
    position: relative;
    bottom: 126.5em;
    margin-left: 40em;
    height: 250px;
    width: 200px;
}
.dadH3 {
    align-items: center;
}

.planeimg {
    height: 200px;
    width: 200px;
}

.plane-item {
    position: relative;
    bottom: 118.5em;
    margin-left: 40em;
    height: 250px;
    width: 200px;
}

.planeH3 {
    align-items: center;
}

.helpimg {
    height: 200px;
    width: 200px;
}

.help-item {
    position: relative;
    bottom: 134.5em;
    margin-left: 1em;
    height: 350px;
    width: 400px;
}

.helpH3 {
    align-items: center;
}


.youtube-articles {
    /* position: relative; */
    margin-top: 15em;
    background-color: white;
    /* margin-left: 5em; */
    height: 850px;
    width: 1000px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.youtubeh4 {
    position: relative;
    margin-bottom: 15em;
    right: 5em;
}

.youtube-item {
    position: relative;
    bottom: 20em;
}

.youtube-div {
     position: relative;
     left: 13em;
 } 


 .paidh4 {
    position: relative;
    bottom: 5em;
    right: 5em;
 }

 .paid-item {
    position: relative;
    bottom: 5em;
 }

 .paid-div {
     position: relative;
     right: 22em;
     top: 20em;
 }
}

 @media screen and (max-width: 990px) {
     
.logo {
    position: relative;
    right: 53%;
    height: 350px;
    width: 330px;
}

.About {
    position: relative;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    top: 10em;
    display: flex;
    align-items: center;
    height: 500px;
    width: 1000px;
    justify-content: center;
}

.paraAbt {
    position: relative;
    left: 48%;
    font-size: 2rem;
    padding: 5px;
}

.card {
    position: relative;
    top: 30em;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}





.signh1 {
    position: relative;
    top: .5em;
    font-size: 2rem;
    text-align: center;
}

.learnhr {
    border-color: black;
}

.lrp {
    position: relative;
    font-size: 1.5em;
    text-align: center;
}

.learnNowbtn {
    position: relative;
    top: 1em;
    width: 90px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    
}


.card_friends {
    position: relative;
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cent{
    position: relative;
    bottom: 21.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpf {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}

.learnNowbtnfr {
    position: relative;
    top: 1.5em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    
}
.cent2{
    position: relative;
    bottom: 21.9em;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpfa {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}


.learnNowbtnart {
    position: relative;
    top: .4em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
}
 }



 @media screen and (max-width: 766px) {
    .title {
        position: relative;
        top: 1em;
        font-size: 2.5rem;
        text-align: center;
    } 

    .logo {
        position: relative;
        right: 53%;
        height: 250px;
        width: 330px;
    }
    
    .About {
        position: relative;
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        top: 10em;
        display: flex;
        align-items: center;
        height: 500px;
        width: 1000px;
        justify-content: center;
    }
    
    .paraAbt {
        position: relative;
        left: 48%;
        font-size: 1.6rem;
        padding: 0;
    }
    
    .card {
        position: relative;
        top: 30em;
        height: 300px;
        width: 300px;
        border-radius: 10%;
        border-width: 2px;
        border-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    
    
    
    
    .signh1 {
        position: relative;
        top: .5em;
        font-size: 2rem;
        text-align: center;
    }
    
    .learnhr {
        border-color: black;
    }
    
    .lrp {
        position: relative;
        font-size: 1.5em;
        text-align: center;
    }
    
    .learnNowbtn {
        position: relative;
        top: 1em;
        width: 90px;
        height: 50px;
        align-items: center;
        border-radius: 10px;
        
    }
    
    
    .card_friends {
        position: relative;
        background-color: white;
        height: 300px;
        width: 300px;
        border-radius: 10%;
        border-width: 2px;
        border-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cent{
        position: relative;
        bottom: 5.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .lrpf {
        position: relative;
        font-size: 1.3em;
        text-align: center;
    }
    
    .learnNowbtnfr {
        position: relative;
        top: 1.5em;
        width: 90px;
        height: 50px;
        border-radius: 10px;
        align-items: center;
        
    }
    .cent2{
        position: relative;
        bottom: 18.7em;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .lrpfa {
        position: relative;
        font-size: 1.3em;
        text-align: center;
    }
    
    
    .learnNowbtnart {
        position: relative;
        top: .4em;
        width: 90px;
        height: 50px;
        border-radius: 10px;
        align-items: center;
    }
     }