* {
    padding: 0;
    margin: 0; 
}

body {
    background-color: lightcyan;
    overflow-x: hidden;
}
.title {
    position: relative;
    top: 1em;
    font-size: 3rem;
    text-align: center;
}



.logo {
    position: relative;
    right: 53%;
    height: 450px;
    width: 450px;
}

.About {
    position: relative;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    top: 10em;
    display: flex;
    align-items: center;
    height: 500px;
    width: 1000px;
    justify-content: center;
}

.paraAbt {
    position: relative;
    left: 48%;
    font-size: 2rem;
    padding: 20px;
}

.card {
    position: relative;
    top: 30em;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.signh1 {
    position: relative;
    top: .5em;
    font-size: 2rem;
    text-align: center;
}

.learnhr {
    border-color: black;
}

.lrp {
    position: relative;
    font-size: 1.5em;
    text-align: center;
}

.learnNowbtn {
    position: relative;
    top: 1em;
    width: 90px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    
}


.card_friends {
    position: relative;
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cent{
    position: relative;
    bottom: 21.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpf {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}

.learnNowbtnfr {
    position: relative;
    top: 1.5em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    
}
.cent2{
    position: relative;
    bottom: 43.8em;
    left: 37.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lrpfa {
    position: relative;
    font-size: 1.3em;
    text-align: center;
}


.learnNowbtnart {
    position: relative;
    top: .4em;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
}