<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Learnity</title>
  </head>
  <body>
        <a class="homelink"href="http://127.0.0.1:5500/templates/">
        <h1 class="title">Learnity</h1>
        </a>
  

  <div class="youtube-articles container">
    <!-- <h1 class="articlesh1">Articles</h1> -->
    <div class="youtube-div">
    <h4 class="youtubeh4">Youtube</h4>
    <ul>
      <a style="color: black;" href="https://www.youtube.com/watch?v=v1desDduz5M">
      <li class="youtube-item">20+ Basic Sign Language Phrases for Beginners | ASL</li>
      </a>
      <a style="color: black;" href="https://www.youtube.com/watch?v=0FcwzMq4iWg">
        <li class="youtube-item">25 ASL Signs You Need to Know | ASL Basics | American Sign Language for Beginners</li>
        </a>
        <a style="color: black;" href="https://www.youtube.com/watch?v=a5BD8SjhPSg">
          <li class="youtube-item">EASIEST way to learn your ASL ABCs | Slowest alphabet lesson</li>
          </a>
    </ul>

    <div class="paid-div">
      <h4 class="paidh4">Paid resources</h4>
      <ul>
        <a style="color: black;" href="https://www.udemy.com/course/cwamerican-sign-language-introduction/">
        <li class="paid-item">American Sign Language Level 1</li>
        </a>
        <a style="color: black;" href="https://www.skillshare.com/classes/ASL-How-Are-You-30-Emotions-American-Sign-Language/796694446?via=search-layout-grid">
          <li class="paid-item">ASL | How Are You? + 30 Emotions | American Sign Language</li>
          </a>
          <a style="color: black;" href="https://www.skillshare.com/classes/ASL-First-120-Basic-Signs-American-Sign-Language/1782723083?via=search-layout-grid">
            <li class="paid-item">ASL | First 120 Basic Signs | American Sign Language</li>
            </a>
    </div>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <script src="/static/app.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>