<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Learnity</title>
  </head>
  <body>

    <h1 class="title">Learnity</h1>
    

    <div class="About container">
      <p class="paraAbt">Want to learn American Signlanguage? This is the right place for you. We have dozens of tutorials. Or you can learn with friends through a video call. So learn with us today, its free!</p>
      <img class="logo" src="/photos/preview.jpeg" alt="logo">
    </div>

    <div class="card">
      <h1 class="signh1" >Learn Signlanguage now!</h1>
      <hr class="learnhr">    
      <p class="lrp" >Want to learn a usefull skill that most people dont have?</p>
      <a href="#">
      <button class="btn-primary learnNowbtn">Learn now</button>
    </a>
    </div>

<div class="cent">
    <div class="card_friends card">
      <h1 class="signh1" >Learn Signlanguage with friends!</h1>
      <hr class="learnhr">    
      <p class="lrpf" >Want to learn a usefull skill that most people dont have, with friends?</p>
      <a href="#">
      <button class="btn-primary learnNowbtnfr">Learn now</button>
    </a>
    </div>
  </div>



  <div class="cent2">
    <div class="card_friends card">
      <h1 class="signh1" >Learn About Signlanguage</h1>
      <hr class="learnhr">    
      <p class="lrpfa" >Want to learn more about a usefull skill that most people dont have, through articles?</p>
      <a href="#">
      <button class="btn-primary learnNowbtnart">Learn now</button>
    </a>
    </div>
  </div>

    <!-- <div id="container">
      <video autoplay="true" id="videoElement">
      </video>
      <button id="faceCamBtn" class="btn-primary">Turn on</button>
    </div> -->

    <!-- Optional JavaScript -->
    <script src="/static/app.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>