<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Learnity</title>
  </head>
  <body>
    <a class="homelink"href="http://127.0.0.1:5500/templates/">
    <h1 class="title">Learnity</h1>
    </a>
    <div id="videodiv">
      <video class="video_screen" autoplay="true" id="videoElement">
      </video>
      <button id="faceCamBtn" class="turnon btn-primary">Turn On Video</button>
    </div>
        <div class="learning-div container">
           <p class="beglearn25">10 Beginner motions in American Signlanguage that are usefull</p>
            <div class="explanation-item container">
            <img class="helloimg" src="/photos/hello.gif" alt="">
            <h3 class="helloH3">Hello</h3>
            </div>
            <div class="explanation-item howareyou-item container">
                <img class="helloimg" src="/photos/howareyou.gif" alt="">
                <h3 class="helloH3">How are You</h3>
                </div>
                <div class="explanation-item nameis-item container">
                  <img class="nameimg" src="/photos/nameIs.jpeg" alt="">
                  <h3 class="nameH3">My name is...</h3>
                  </div>
                  <div class="explanation-item boy-item container">
                    <img class="boyimg" src="/photos/boy.gif" alt="">
                    <h3 class="boyH3">Boy</h3>
                    </div>
                    <div class="explanation-item girl-item container">
                      <img class="girlimg" src="/photos/girl.gif" alt="">
                      <h3 class="girlH3">Girl</h3>
                      </div>
                      <div class="explanation-item home-item container">
                        <img class="homeimg" src="/photos/home.jpeg" alt="">
                        <h3 class="homeH3">Home</h3>
                        </div>
                        <div class="explanation-item eat-item container">
                          <img class="eatimg" src="/photos/eat.jpeg" alt="">
                          <h3 class="eatH3">Eat</h3>
                          </div>
                          <div class="explanation-item dad-item container">
                            <img class="dadimg" src="/photos/dad.gif" alt="">
                            <h3 class="dadH3">Dad</h3>
                            </div>
                            <div class="explanation-item plane-item container">
                              <img class="planeimg" src="/photos/plane.jpeg" alt="">
                              <h3 class="planeH3">Plane</h3>
                              </div>
                              <div class="explanation-item help-item container">
                                <img class="helpimg" src="/photos/help.png" alt="">
                                <h3 class="helpH3">Help</h3>
                                </div>
        </div>

    <!-- <div id="container">
      <video autoplay="true" id="videoElement">
      </video>
      <button id="faceCamBtn" class="btn-primary">Turn on</button>
    </div> -->

    <!-- Optional JavaScript -->
    <script src="/static/app.js"></script>
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>